{% extends 'base/app/base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="container" style="margin: 8rem 0;">
    <div class="row">
      <h1 class="display-5 text-center mb-5">Opdater Adgangskode</h1>
      <div class="col-4 offset-4">
        <form class="form" method="post" action="{% url 'password_change' %}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="mb-3">
              <span class="small text-muted">{{ field.label_tag }}</span>
            {% if  forloop.counter != 2 %}
              {{ field|add_class:'form-control' }}
            {% endif %}
              {% if field.errors %}
                <ul>
                  {% for error in field.errors %}
                    <li class="small text-danger fw-semibold">
                      {{ error }}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                {% if field.help_text %}
                  {% render_field field class="form-control" id="password-criteria" data-bs-trigger="focus" data-bs-html="true" data-bs-toggle="popover" data-bs-title="Krav til adgangskoden" data-bs-content=field.help_text|safe %}
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
          <div class="d-flex flex-grow-1 w-100">
            <button class="btn btn-primary w-100" type="submit">Opdater Adgangskode</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
