{% extends 'base/app/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="display-4 my-4 text-center">Ticket Detaljer</h1>
    <div class="row">
      <div class="col-6">
        <h2 class="display-6">Ticket Information</h2>
        <hr>
        <ul>
          <li><strong>Timestamp:</strong> {{ ticket.timestamp }}</li>
          <li><strong>Level:</strong> {{ ticket.level }}</li>
          <li><strong>Problem Message:</strong> {{ ticket.problem_message }}</li>
          <li><strong>Status Message:</strong> {{ ticket.status_message }}</li>
          <li><strong>Solution Message:</strong> {{ ticket.solution_message }}</li>
          <li><strong>User:</strong> {{ ticket.user.username }}</li>
        </ul>
      </div>
      <div class="col-6">
        <h2 class="display-6">Bruger Information</h2>
        <hr>
        <ul>
          <li><strong>Name:</strong> {{ ticket.customer_first_name }} {{ ticket.customer_last_name }}</li>
          <li><strong>Phone Number:</strong> {{ ticket.customer_phone_number }}</li>
          <li><strong>Email:</strong> {{ ticket.customer_email }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
